.picture {
  /* width: 300px; */
  border-radius: 10px;
  object-fit: contain;
  aspect-ratio: 1;
  display: flex;
  width: 50%;
  max-width: 100%;
}

.content {
  width: auto;
  margin: auto;
  border-radius: 30%;
}

.bio-container {
  display: flex;
  width: auto;
  margin: auto;
  margin-top: 5rem;
  gap: 12px;
}

h1,h2,h3,h4 {
  font-family: 'Fredoka One', cursive;
  border-radius: 10px
}

body {
  background-color: antiquewhite;;
  font-family: "Open Sans", Helvetica, sans-serif;
  color: black;
  border-radius: 10px
}

nav {
  display: flex;
  /* gap: 0.5rem; */
}

nav a {
  flex: 1;
  background-color: #3D5A80;
  color: #fff;
  border: 1px none;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease-out;
  font-family: 'East Sea Dokdo', cursive;
  font-size: x-large;
  /* opacity: 0.6; */
}

nav a:hover,
nav a:focus {
  background-color: #FA9500;
  color: #333;
  opacity: 1;
}
