body {
    background-color: antiquewhite;;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: black;
  }
  .picture {
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    aspect-ratio: 1;
  }
  .recipe-container {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
  }
  
  ul, ol, li{
    margin: lem 0;
    margin-bottom: 10px;
  }
  /* .picture:hover {
    filter: brightness(80%)
  } */

  .list_picture{
    width: 750px;
    cursor: pointer;
    object-fit:
    aspect-ratio: 1;
    margin-bottom: 1rem;
  }

  h1{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
  }
  h2,h3,h4 {
    font-family: 'Fredoka One', cursive;
    
  }

  .image-title {
  text-align: center;
  font-family: monospace;
  font-size: large;
  margin: 0.5rem;
}
  .picture-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 12px;
    text-align: justify;
    font-size: small;
    justify-content: center;

  }
  .page-container {
    width: 80%;
    margin-top: 5rem;
    margin: auto;
  }
nav {
    display: flex;
    /* gap: 0.5rem; */
  }
nav a {
    flex: 1;
    background-color: #333;
    color: #fff;
    border: 1px dashed;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    font-family: 'East Sea Dokdo', cursive;
    font-size: x-large;
  }
  
  nav a {
    flex: 1;
    background-color: #3D5A80;
    color: #fff;
    border: 1px none;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    font-family: 'East Sea Dokdo', cursive;
    font-size: x-large;
    /* opacity: 0.6; */
  }
  
  nav a:hover,
  nav a:focus {
    background-color: #FA9500;
    color: #333;
    opacity: 1;
  }